<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Kampus RoR</h5>
        <p class="grey-text text-lighten-4">Tempat belajar dan sharing programming Ruby On Rails</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Socials</h5>
        <ul>
          <li><i class="fa fa-facebook-square"></i>&nbsp;<a class="grey-text text-lighten-3" href="https://www.facebook.com/groups/kampusror">Facebook</a></li>
          <li><i class="fa fa-twitter-square"></i>&nbsp;<a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><i class="fa fa-github"></i>&nbsp;<a class="grey-text text-lighten-3" href="#!">Github</a></li>
          <li><i class="fa fa-youtube-square"></i>&nbsp;<a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCBJ4Gt9cRuul0T98FOTd9Mw">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 KampusRoR
    </div>
  </div>
</footer>
